@charset "utf-8";
/* CSS Document */
p {
	color: red;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 18px;
	line-height: 18px;
	width: 600px;
	background-color: black;
	padding: 20px;	
}
h1, h2 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: darkred;
}

span{color: rgba(222,0,4,1.00);}
body{
	background-image: url("slike/pozadina.jpg")
}

a {
	color: red;
	background-color: black;
	padding: 5px;
	line-height: 25px;
	border: 1px #FF0004;
}
a:hover{
	background-color: grey;
}
img{
	height: 200px;
}